### Mini exerceise

- Fit en model for avocado pris-sættet
- Modellen skal lade AveragePrice som funktion af Total volume
- Undersøg koefficienter
- Plot evt. regressions-linjen

```
Coef = pd.DataFrame([reg.coef_,df[predictors_1].columns],index=["Beta","Predictor"]).T
Coef.sort_values("Beta")
```

$$
    \text{AveragePrice} = \alpha + \beta \cdot \text{Total Volume} + \varepsilon, \quad \varepsilon \sim N(0,1)
$$

In [21]:
import pandas as pd
from sklearn import linear_model
import plotly.graph_objects as go
import plotly.express as px



avocados = pd.read_csv("../data/avocado.csv", usecols=["Date","AveragePrice","total_volume","region","type"])\
.query('region=="Albany"').query('type=="organic"').drop(["region","type"],axis=1)
avocados.head()

            Date  AveragePrice  total_volume
9126  2015-12-27          1.83        989.55
9127  2015-12-20          1.89       1163.03
9128  2015-12-13          1.85        995.96
9129  2015-12-06          1.84       1158.42
9130  2015-11-29          1.94        831.69