### Mini exercise 

Try to utilize the the reset index, subsetting and pd.melt to plot `High` and `Low` for each day in the data-set `sp500`.

Use 

```python
import plotly.express as px
```
if you want

<img src="https://pandas.pydata.org/pandas-docs/stable/_images/reshaping_melt.png">

In [25]:
import pandas as pd 
import numpy as np

sp500 = pd.read_csv("../data/sp500.csv", index_col = "Date")
sp500.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-10-01,1440.900024,1457.140015,1440.900024,1444.489990,1444.489990,3505080000
2012-10-02,1444.989990,1451.520020,1439.010010,1445.750000,1445.750000,3321790000
2012-10-03,1446.050049,1454.300049,1441.989990,1450.989990,1450.989990,3531640000
2012-10-04,1451.079956,1463.140015,1451.079956,1461.400024,1461.400024,3615860000
2012-10-05,1461.400024,1470.959961,1456.890015,1460.930054,1460.930054,3172940000